@model IEnumerable<Proyect.Models.Tarea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Asunto
        </th>
        <th>
            Cuerpo
        </th>
        <th>
            Categoria
        </th>
        <th>
            Desarrollador
        </th>
        <th>
            Estado
        </th>
        <th>
            Prioridad
        </th>
        <th>
           Proyecto
        </th>
        
        <th>
            Fecha Creacion
        </th>
        <th>
            Tiempo Estimado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuerpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desarrollador.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoEstimado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TareaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TareaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TareaID })
        </td>
    </tr>
}

</table>
